:root{
  background-color: lightskyblue;
}

.App {
  text-align: center;
}

.results{
  position: relative;
  
}


select{
  margin: 1em;
  width: 35%;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
}

.searchSection {
  position: relative;
  display: flex;
  min-width: 100px;
  margin: 0 30%;
}

#searchBar{
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

#searchBar:hover, #searchBar:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

#searchIcon{
  margin-left: 3px;
  height: 25px;
}

#instructions{
  font-size: small;
  font-weight: 300;
}

.recipe{
  border: 3px solid black;
  margin: 2em;
  position: relative;
}

button{
  margin-bottom: 2em;
}

@media (min-width: 768px){
  select{
    width: 35%;
    margin-top: 2em;
  }

  .recipe{
    display: inline-block;
    width: 40%;
    margin-right: 1em;
  }
}

@media (min-width: 992px){
  select{
    width: 20%;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .recipe{
    display: inline-block;
    width: 30%;
    margin-right: 1em;
    margin-left: 1em;
    height: 30%;
  }
}